<!-- home.component.html -->
<div class="home-page">
  <div class="logo-container">
    <img src="assets/logo-leoni.png" alt="Logo" class="logo" />
  </div>
  <div class="welcome-container">
    <h1 class="welcome-title">Bienvenue sur DigiKosu</h1>
    <p class="welcome-message">
      Utilisez les options ci-dessous pour naviguer dans l'application.
    </p>
    <div class="button-container">
      <button class="nav-button" (click)="navigateTo('kosu')">
        Gestion des KOSUs
      </button>
      <button class="nav-button" (click)="navigateTo('incident')">
        Gestion des Incidents
      </button>
    </div>
  </div>
</div>
